<%-include('partials/global/navbar')%>
    <div id="layoutSidenav">
        <%-include('partials/global/sidebar')%>

            <div id="layoutSidenav_content">
                <main>

                </main>


            </div>

    </div>